#tsock_seed,
#tsock_seed_variation {
    margin-top: -32px;
    cursor: pointer;
    width: 250px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    float: right;
}

.tsock_seed_variation {
	display: none;
}

.tsock_seed_out {
	background-color: red;
}
.tsock_seed_in {
	background-color: green;
}
.tsock_seed_variable {
	background-color: yellow;
}
